@import url(https://fonts.googleapis.com/css?family=DM+Sans:regular,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Roboto:regular&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-address:before {
  content: "\e900";
}

._icon-arrow:before {
  content: "\e901";
}

._icon-check:before {
  content: "\e902";
}

._icon-email:before {
  content: "\e903";
}

._icon-fb-circle:before {
  content: "\e904";
}

._icon-leaf:before {
  content: "\e905";
}

._icon-linkedin:before {
  content: "\e906";
}

._icon-location:before {
  content: "\e907";
}

._icon-phone:before {
  content: "\e908";
}

._icon-prize:before {
  content: "\e909";
}

._icon-skype:before {
  content: "\e90a";
}

._icon-tw:before {
  content: "\e90b";
}

._icon-v:before {
  content: "\e90c";
}

._icon-you-tube:before {
  content: "\e90d";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #5C5C5C;
  line-height: 1;
  font-family: "DM Sans", "sans-serif";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "DM Sans", "sans-serif";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #5C5C5C;
  background-color: #2E2E2E;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 76.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.spollers {
  display: -ms-grid;
  display: grid;
  gap: 15px;
}

.spollers__item {
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.0625rem;
}

.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  position: relative;
  list-style: none;
}

._spoller-init .spollers__title {
  cursor: pointer;
  /*
  ._spoller-init & {
  	position: relative;
  	width: 100%;
  	text-align: left;
  	&::before,
  	&::after {
  		content: "";
  		position: absolute;
  		right: 0;
  		top: rem(12);
  		height: rem(1);
  		transition: all 0.3s ease 0s;
  		width: rem(10);
  		background-color: #000;
  	}
  	&::before {
  		transform: rotate(40deg);
  		right: rem(7);
  	}
  	&::after {
  		transform: rotate(-40deg);
  	}
  }
  &._spoller-active {
  	&::before {
  		transform: rotate(-40deg);
  	}
  	&::after {
  		transform: rotate(40deg);
  	}
  }
  */
}

._spoller-init .spollers__title::before,
._spoller-init .spollers__title::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  background-color: #FFF;
  height: 2px;
  width: 12px;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

._spoller-init .spollers__title::before {
  -webkit-transform: translate(-75%, -50%) rotate(40deg);
      -ms-transform: translate(-75%, -50%) rotate(40deg);
          transform: translate(-75%, -50%) rotate(40deg);
}

._spoller-init .spollers__title::after {
  -webkit-transform: translate(0, -50%) rotate(-40deg);
      -ms-transform: translate(0, -50%) rotate(-40deg);
          transform: translate(0, -50%) rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::before {
  -webkit-transform: translateX(-75%) rotate(-40deg);
      -ms-transform: translateX(-75%) rotate(-40deg);
          transform: translateX(-75%) rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::after {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.page__main {
  padding-top: 16.875rem;
  padding-bottom: 16.875rem;
}

/*

<div class="main__header header-block header-block_center">
                  <div class="header-block__label header-block__label_gradient">Label</div>
                  <h2 class="header-block__title header-block__title_white">Header block title</h2>
                  <div class="header-block__text">
                     <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua, nulla consequat risus ac lectus imperdiet
                     </p>
                  </div>
               </div>

*/

.header-block_center {
  text-align: center;
}

.header-block__label {
  text-transform: uppercase;
  display: inline-block;
  color: #FFF;
  text-align: center;
  font-size: 0.6875rem;
  letter-spacing: 0.25rem;
  padding: 0rem 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.375rem;
}

.header-block__label:not(:last-child) {
  margin-bottom: 1.25rem;
}

.header-block__label_gradient {
  background: -webkit-gradient(linear, left top, right top, from(#65BDC2), to(#0E3055));
  background: linear-gradient(90deg, #65BDC2 0%, #0E3055 100%);
}

.header-block__label_dark {
  background-color: #0E3055;
}

.header-block__label_light {
  background-color: #65BDC2;
}

.header-block__title {
  font-size: 3.4375rem;
  line-height: 1.2;
  letter-spacing: 0.0625rem;
}

.header-block__title:not(:last-child) {
  margin-bottom: 1.0625rem;
}

.header-block__title_dark {
  color: #2E2E2E;
}

.header-block__title_white {
  color: #FFF;
}

.header-block__text {
  line-height: 2;
  letter-spacing: 0.0625rem;
}

.header-block__text_dark {
  color: #5C5C5C;
}

.header-block__text_white {
  color: #FFF;
}

.header__logo {
  text-transform: uppercase;
  letter-spacing: 0.3125rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
}

.header__logo div {
  text-align: center;
  padding: 0.625rem 0.75rem;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.header__logo_dark div:nth-child(1) {
  color: #FFF;
  background-color: #65BDC2;
}

.header__logo_dark div:nth-child(2) {
  color: #65BDC2;
  background-color: #0E3055;
}

.header__logo_light div:nth-child(1) {
  color: #5C5C5C;
  background-color: #FFF;
}

.header__logo_light div:nth-child(2) {
  color: #FFF;
  background-color: #0E3055;
}

.footer-title {
  font-weight: 700;
}

::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #FFF;
  opacity: 1;
  /* Firefox */
}

::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #FFF;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #FFF;
  opacity: 1;
  /* Firefox */
}

::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #FFF;
  opacity: 1;
  /* Firefox */
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #FFF;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #FFF;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #FFF;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__container {
  min-height: 12.5rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 1.875rem;
}

.header__block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto 1fr;
  grid-template-columns: 1fr auto 1fr;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
  row-gap: 0.625rem;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__button {
  color: #FFF;
  background-color: #65BDC2;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.9375rem;
  letter-spacing: 0.1875rem;
  padding: 1.5625rem 3.125rem;
  justify-self: flex-end;
  position: relative;
  border: 0.125rem solid #65BDC2;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.info-header {
  font-family: "Roboto", "sans-serif";
  color: #FFF;
  font-size: 0.625rem;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  gap: 0.9375rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  z-index: 2;
}

.info-header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.8125rem;
     -moz-column-gap: 0.8125rem;
          column-gap: 0.8125rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.info-header__item:last-child {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.info-header__item mark {
  padding: 0.25rem 0.625rem;
  background-color: #65BDC2;
  color: #FFF;
  margin-right: 1.5rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 0.3125rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  z-index: 2;
}

.menu__item {
  position: relative;
}

.menu__link {
  text-transform: uppercase;
  line-height: 2.0714285714;
  letter-spacing: 0.1875rem;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: #65BDC2;
  color: #FFF;
  letter-spacing: 0.0625rem;
}

.no-webp .footer__wrapper{
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 52, 58, 0.75)), to(rgba(47, 52, 58, 0.75))), url(../img/footer/main.jpg) center/cover no-repeat, lightgray 50%/cover no-repeat; }

.no-webp .footer__wrapper{
  background: linear-gradient(0deg, rgba(47, 52, 58, 0.75) 0%, rgba(47, 52, 58, 0.75) 100%), url(../img/footer/main.jpg) center/cover no-repeat, lightgray 50%/cover no-repeat; }

.footer__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 3.125rem;
     -moz-column-gap: 3.125rem;
          column-gap: 3.125rem;
  row-gap: 1.5625rem;
}

.social-footer__logo {
  padding-top: 0.1875rem;
}

.social-footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  row-gap: 0.625rem;
}

.social-footer__item {
  font-size: 1.25rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.customers-footer__autor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
}

.customers-footer__avatar img {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
}

.customers-footer__info {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.customers-footer__name {
  font-size: 1rem;
  font-weight: 700;
  line-height: 2;
}

.customers-footer__position {
  font-size: 0.75rem;
  line-height: 2;
  letter-spacing: 0.125rem;
}

.contacts-footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts-footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contacts-footer__item::before {
  font-size: 0.9375rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.gallery-footer__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
}

.gallery-footer__item {
  position: relative;
  padding-bottom: 100%;
}

.gallery-footer__item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.no-webp .info-footer{
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 52, 58, 0.75)), to(rgba(47, 52, 58, 0.75))), url(../img/footer/info.jpg) center/cover no-repeat, lightgray 50%/cover no-repeat; }

.no-webp .info-footer{
  background: linear-gradient(0deg, rgba(47, 52, 58, 0.75) 0%, rgba(47, 52, 58, 0.75) 100%), url(../img/footer/info.jpg) center/cover no-repeat, lightgray 50%/cover no-repeat; }

.info-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.25rem;
}

.info-footer__copyright {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.info-footer__copyright span {
  font-size: 0.9375rem;
}

.info-footer__autor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.info-footer__autor::before {
  font-size: 0.9375rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.form-footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  row-gap: 0.9375rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form-footer__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0.625rem 1.25rem;
  border-bottom: 0.0625rem solid #FFF;
  background-color: rgba(255, 255, 255, 0);
  font-size: 1rem;
  color: #FFF;
}

.form-footer__button {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8125rem;
  letter-spacing: 0.1875rem;
  padding: 0.8125rem 1.0625rem;
  background-color: #65BDC2;
  border: 0.0625rem solid #65BDC2;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.page__main {
  padding-top: 16.875rem;
  padding-bottom: 16.875rem;
}

.no-webp .main{
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.1))), url(../img/main/background.jpg) center/cover no-repeat; }

.no-webp .main{
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.1) 100%), url(../img/main/background.jpg) center/cover no-repeat; }

.main__label {
  text-transform: uppercase;
  display: inline-block;
  color: #FFF;
  text-align: center;
  font-size: 0.875rem;
  letter-spacing: 0.125rem;
  padding: 0.5rem 1.875rem;
  background-color: #0E3055;
}

.main__label:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.main__title {
  color: #FFF;
  font-size: 8.125rem;
  font-weight: 700;
  line-height: 1.2384615385;
}

.main__title span {
  line-height: 1.6;
}

.main__title:not(:last-child) {
  margin-bottom: 1.875rem;
}

.main__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 7.5625rem;
     -moz-column-gap: 7.5625rem;
          column-gap: 7.5625rem;
  row-gap: 0.625rem;
}

.main__sub-title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  color: #FFF;
  font-size: 1.5625rem;
  font-weight: 700;
  line-height: 2.4;
}

.main__text {
  color: #FFF;
  font-size: 1rem;
  line-height: 1.875;
}

@media (min-width: 47.99875em) {
  .social-footer__items {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .main__title {
    letter-spacing: -0.3125rem;
  }

  .main__sub-title {
    letter-spacing: -0.0625rem;
  }
}

@media (min-width: 61.99875em) {
  .header__logo_dark {
    padding: 0.75rem 0.625rem;
    border-left: 0.25rem solid #65BDC2;
  }

  .header__logo_dark div:nth-child(1)::before {
    content: "";
    position: absolute;
    top: -8%;
    left: 45.7%;
    width: 3.75rem;
    height: 2.5rem;
    background-color: #FFF;
    -webkit-transform: translateZ(-1px);
            transform: translateZ(-1px);
  }

  .menu__list::before {
    content: "";
    position: absolute;
    display: inline-block;
    top: 50%;
    right: 50%;
    -webkit-transform: translate(50%, -50%);
        -ms-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
    width: 3.75rem;
    height: 2.5rem;
    background-color: #FFF;
  }

  .customers-footer__name {
    font-size: 1rem;
  }

  .info-footer__copyright span {
    padding-right: 1.125rem;
  }

  .main__title {
    font-size: 8.125rem;
  }

  .main__title span {
    font-size: 6.25rem;
  }

  .main__sub-title {
    font-size: 1.5625rem;
  }
}

@media (min-width: 76.875em) {
  .spollers__title:not(:last-child) {
    margin-bottom: 2.3125rem;
  }

  .footer-title {
    font-size: 1.25rem;
  }

  .social-footer__logo:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .social-footer__text:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .customers-footer__text:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .contacts-footer__items {
    gap: 1.25rem;
  }

  .gallery-footer__items {
    gap: 1.25rem;
  }

  .info-footer__autor {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .main__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .main__info {
    -webkit-column-gap: 7.5625rem;
       -moz-column-gap: 7.5625rem;
            column-gap: 7.5625rem;
  }
}

@media (min-width: 94.5em) {
  .info-header__item mark {
    margin-right: 1.5rem;
  }

  .menu__list {
    -webkit-column-gap: 2.875rem;
       -moz-column-gap: 2.875rem;
            column-gap: 2.875rem;
  }

  .footer__wrapper {
    padding-right: 1.25rem;
  }

  .footer__wrapper {
    padding-left: 1.25rem;
  }

  .footer__wrapper {
    padding-top: 7.3125rem;
  }

  .footer__wrapper {
    padding-bottom: 7.5rem;
  }

  .info-footer {
    padding-right: 1.25rem;
  }

  .info-footer {
    padding-left: 1.25rem;
  }

  .info-footer {
    padding-top: 2.8125rem;
  }

  .info-footer {
    padding-bottom: 2.1875rem;
  }

  .main__info {
    padding-right: 0.9375rem;
  }

  .main__info {
    padding-left: 0.9375rem;
  }
}

@media (min-width: 40em) {
  .main__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 37.833333%;
            flex: 0 0 37.833333%;
  }
}

@media (max-width: 20em) {
  .spollers__title:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .footer-title {
    font-size: 1rem;
  }

  .social-footer__logo:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .social-footer__text:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .social-footer__items {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }

  .customers-footer__text:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .contacts-footer__items {
    gap: 0.625rem;
  }

  .gallery-footer__items {
    gap: 0.9375rem;
  }

  .info-footer__copyright span {
    padding-right: 0.125rem;
  }

  .info-footer__autor {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }

  .main__title {
    font-size: 2.8125rem;
  }

  .main__title span {
    font-size: 2.1875rem;
  }

  .main__title:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .main__info {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }

  .main__sub-title {
    font-size: 1.125rem;
  }
}

@media (max-width: 69.43625em) {
  .footer__container {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
}

@media (max-width: 61.99875em) {
  .header__container {
    min-height: 6.25rem;
    row-gap: 0.625rem;
  }

  .header__block {
    -ms-grid-columns: 1fr auto auto;
    grid-template-columns: 1fr auto auto;
  }

  .header__button {
    padding: 0.9375rem 1.875rem;
    font-size: 0.75rem;
  }

  .info-header {
    -ms-grid-columns: auto 1fr auto;
    grid-template-columns: auto 1fr auto;
  }

  .info-header__item::before {
    font-size: 1rem;
  }

  .info-header__item span:nth-child(2) {
    display: none;
  }

  .info-header__item mark {
    margin-right: 0.3125rem;
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    padding: 0rem 0.9375rem;
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: left 0.3s ease;
    transition: left 0.3s ease;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 6.25rem;
    background-color: red;
    z-index: 3;
    -webkit-transition: left 0.3s ease;
    transition: left 0.3s ease;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 7.5rem;
    padding-bottom: 1.25rem;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #FFF;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer__wrapper {
    padding-right: 0.0000000625rem;
  }

  .footer__wrapper {
    padding-left: 0.0000000625rem;
  }

  .contacts-footer__item {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }

  .info-footer {
    padding-right: 0.0000000625rem;
  }

  .info-footer {
    padding-left: 0.0000000625rem;
  }

  .main__info {
    padding-right: 0.0000000625rem;
  }

  .main__info {
    padding-left: 0.0000000625rem;
  }
}

@media (max-width: 61.99875em) and (max-width: 41.875em) {
  .menu__body::before {
    height: 4.375rem;
  }
}

@media (max-width: 61.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 57.87375em) {
  .contacts-footer__items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .contacts-footer__item span {
    display: none;
  }
}

@media (max-width: 47.99875em) {
  .footer__wrapper {
    padding-top: 1.25rem;
  }

  .footer__wrapper {
    padding-bottom: 1.25rem;
  }

  .footer__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .customers-footer__name {
    font-size: 0.875rem;
  }

  .contacts-footer__item::before {
    font-size: 1.125rem;
  }

  .info-footer {
    padding-top: 0.625rem;
  }

  .info-footer {
    padding-bottom: 0.625rem;
  }
}

@media (max-width: 41.875em) {
  .header__container {
    min-height: 4.375rem;
  }

  .info-header {
    -ms-grid-columns: 1fr auto 1fr;
    grid-template-columns: 1fr auto 1fr;
    justify-items: center;
    padding: 1.25rem 0rem;
  }

  .info-header__item span {
    display: none;
  }
}

@media (max-width: 34.43625em) {
  .info-footer__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .form-footer__input {
    width: 100%;
  }
}

@media (max-width: 29.99875em) {
  .header__logo {
    font-size: 0.625rem;
  }

  .header__logo div {
    padding: 0.3125rem 0.375rem;
  }

  .header__button {
    padding: 0.625rem 0.3125rem;
  }
}

@media (min-width: 20em) and (max-width: 76.875em) {
@supports (margin-bottom: clamp( 0.9375rem , 0.4539835165rem  +  2.4175824176vw , 2.3125rem )) {
    .spollers__title:not(:last-child) {
      margin-bottom: clamp( 0.9375rem , 0.4539835165rem  +  2.4175824176vw , 2.3125rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.4539835165rem  +  2.4175824176vw , 2.3125rem )) {
    .spollers__title:not(:last-child) {
      margin-bottom: calc(0.9375rem + 1.375 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 1rem , 0.9120879121rem  +  0.4395604396vw , 1.25rem )) {
    .footer-title {
      font-size: clamp( 1rem , 0.9120879121rem  +  0.4395604396vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9120879121rem  +  0.4395604396vw , 1.25rem )) {
    .footer-title {
      font-size: calc(1rem + 0.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.7177197802rem  +  1.0989010989vw , 1.5625rem )) {
    .social-footer__logo:not(:last-child) {
      margin-bottom: clamp( 0.9375rem , 0.7177197802rem  +  1.0989010989vw , 1.5625rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.7177197802rem  +  1.0989010989vw , 1.5625rem )) {
    .social-footer__logo:not(:last-child) {
      margin-bottom: calc(0.9375rem + 0.625 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.7177197802rem  +  1.0989010989vw , 1.5625rem )) {
    .social-footer__text:not(:last-child) {
      margin-bottom: clamp( 0.9375rem , 0.7177197802rem  +  1.0989010989vw , 1.5625rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.7177197802rem  +  1.0989010989vw , 1.5625rem )) {
    .social-footer__text:not(:last-child) {
      margin-bottom: calc(0.9375rem + 0.625 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.7177197802rem  +  1.0989010989vw , 1.5625rem )) {
    .customers-footer__text:not(:last-child) {
      margin-bottom: clamp( 0.9375rem , 0.7177197802rem  +  1.0989010989vw , 1.5625rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.7177197802rem  +  1.0989010989vw , 1.5625rem )) {
    .customers-footer__text:not(:last-child) {
      margin-bottom: calc(0.9375rem + 0.625 * (100vw - 20rem) / 56.875);
    }
}

@supports (gap: clamp( 0.625rem , 0.4052197802rem  +  1.0989010989vw , 1.25rem )) {
    .contacts-footer__items {
      gap: clamp( 0.625rem , 0.4052197802rem  +  1.0989010989vw , 1.25rem );
    }
}

@supports not (gap: clamp( 0.625rem , 0.4052197802rem  +  1.0989010989vw , 1.25rem )) {
    .contacts-footer__items {
      gap: calc(0.625rem + 0.625 * (100vw - 20rem) / 56.875);
    }
}

@supports (gap: clamp( 0.9375rem , 0.8276098901rem  +  0.5494505495vw , 1.25rem )) {
    .gallery-footer__items {
      gap: clamp( 0.9375rem , 0.8276098901rem  +  0.5494505495vw , 1.25rem );
    }
}

@supports not (gap: clamp( 0.9375rem , 0.8276098901rem  +  0.5494505495vw , 1.25rem )) {
    .gallery-footer__items {
      gap: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 56.875);
    }
}

@supports ((-moz-column-gap: clamp( 0.625rem , 0.5151098901rem  +  0.5494505495vw , 0.9375rem )) or (column-gap: clamp( 0.625rem , 0.5151098901rem  +  0.5494505495vw , 0.9375rem ))) {
    .info-footer__autor {
      -webkit-column-gap: clamp( 0.625rem , 0.5151098901rem  +  0.5494505495vw , 0.9375rem );
         -moz-column-gap: clamp( 0.625rem , 0.5151098901rem  +  0.5494505495vw , 0.9375rem );
              column-gap: clamp( 0.625rem , 0.5151098901rem  +  0.5494505495vw , 0.9375rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , 0.5151098901rem  +  0.5494505495vw , 0.9375rem )) or (column-gap: clamp( 0.625rem , 0.5151098901rem  +  0.5494505495vw , 0.9375rem ))) {
    .info-footer__autor {
      -webkit-column-gap: calc(0.625rem + 0.3125 * (100vw - 20rem) / 56.875);
         -moz-column-gap: calc(0.625rem + 0.3125 * (100vw - 20rem) / 56.875);
              column-gap: calc(0.625rem + 0.3125 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.1854395604rem  +  2.1978021978vw , 1.875rem )) {
    .main__title:not(:last-child) {
      margin-bottom: clamp( 0.625rem , 0.1854395604rem  +  2.1978021978vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.1854395604rem  +  2.1978021978vw , 1.875rem )) {
    .main__title:not(:last-child) {
      margin-bottom: calc(0.625rem + 1.25 * (100vw - 20rem) / 56.875);
    }
}

@supports ((-moz-column-gap: clamp( 1.875rem , -0.125rem  +  10vw , 7.5625rem )) or (column-gap: clamp( 1.875rem , -0.125rem  +  10vw , 7.5625rem ))) {
    .main__info {
      -webkit-column-gap: clamp( 1.875rem , -0.125rem  +  10vw , 7.5625rem );
         -moz-column-gap: clamp( 1.875rem , -0.125rem  +  10vw , 7.5625rem );
              column-gap: clamp( 1.875rem , -0.125rem  +  10vw , 7.5625rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.875rem , -0.125rem  +  10vw , 7.5625rem )) or (column-gap: clamp( 1.875rem , -0.125rem  +  10vw , 7.5625rem ))) {
    .main__info {
      -webkit-column-gap: calc(1.875rem + 5.6875 * (100vw - 20rem) / 56.875);
         -moz-column-gap: calc(1.875rem + 5.6875 * (100vw - 20rem) / 56.875);
              column-gap: calc(1.875rem + 5.6875 * (100vw - 20rem) / 56.875);
    }
}
}

@media (min-width: 61.99875em) and (max-width: 94.5em) {
@supports (margin-right: clamp( 0.3125rem , -1.9527518172rem  +  3.6537056267vw , 1.5rem )) {
    .info-header__item mark {
      margin-right: clamp( 0.3125rem , -1.9527518172rem  +  3.6537056267vw , 1.5rem );
    }
}

@supports not (margin-right: clamp( 0.3125rem , -1.9527518172rem  +  3.6537056267vw , 1.5rem )) {
    .info-header__item mark {
      margin-right: calc(0.3125rem + 1.1875 * (100vw - 61.99875rem) / 32.50125);
    }
}

@supports ((-moz-column-gap: clamp( 1.25rem , -1.8498182762rem  +  4.9998076997vw , 2.875rem )) or (column-gap: clamp( 1.25rem , -1.8498182762rem  +  4.9998076997vw , 2.875rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 1.25rem , -1.8498182762rem  +  4.9998076997vw , 2.875rem );
         -moz-column-gap: clamp( 1.25rem , -1.8498182762rem  +  4.9998076997vw , 2.875rem );
              column-gap: clamp( 1.25rem , -1.8498182762rem  +  4.9998076997vw , 2.875rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , -1.8498182762rem  +  4.9998076997vw , 2.875rem )) or (column-gap: clamp( 1.25rem , -1.8498182762rem  +  4.9998076997vw , 2.875rem ))) {
    .menu__list {
      -webkit-column-gap: calc(1.25rem + 1.625 * (100vw - 61.99875rem) / 32.50125);
         -moz-column-gap: calc(1.25rem + 1.625 * (100vw - 61.99875rem) / 32.50125);
              column-gap: calc(1.25rem + 1.625 * (100vw - 61.99875rem) / 32.50125);
    }
}

@supports (padding-right: clamp( 0.0000000625rem , -2.3844754154rem  +  3.8460057305vw , 1.25rem )) {
    .footer__wrapper {
      padding-right: clamp( 0.0000000625rem , -2.3844754154rem  +  3.8460057305vw , 1.25rem );
    }
}

@supports not (padding-right: clamp( 0.0000000625rem , -2.3844754154rem  +  3.8460057305vw , 1.25rem )) {
    .footer__wrapper {
      padding-right: calc(0.0000000625rem + 1.2499999375 * (100vw - 61.99875rem) / 32.50125);
    }
}

@supports (padding-left: clamp( 0.0000000625rem , -2.3844754154rem  +  3.8460057305vw , 1.25rem )) {
    .footer__wrapper {
      padding-left: clamp( 0.0000000625rem , -2.3844754154rem  +  3.8460057305vw , 1.25rem );
    }
}

@supports not (padding-left: clamp( 0.0000000625rem , -2.3844754154rem  +  3.8460057305vw , 1.25rem )) {
    .footer__wrapper {
      padding-left: calc(0.0000000625rem + 1.2499999375 * (100vw - 61.99875rem) / 32.50125);
    }
}

@supports (padding-right: clamp( 0.0000000625rem , -2.3844754154rem  +  3.8460057305vw , 1.25rem )) {
    .info-footer {
      padding-right: clamp( 0.0000000625rem , -2.3844754154rem  +  3.8460057305vw , 1.25rem );
    }
}

@supports not (padding-right: clamp( 0.0000000625rem , -2.3844754154rem  +  3.8460057305vw , 1.25rem )) {
    .info-footer {
      padding-right: calc(0.0000000625rem + 1.2499999375 * (100vw - 61.99875rem) / 32.50125);
    }
}

@supports (padding-left: clamp( 0.0000000625rem , -2.3844754154rem  +  3.8460057305vw , 1.25rem )) {
    .info-footer {
      padding-left: clamp( 0.0000000625rem , -2.3844754154rem  +  3.8460057305vw , 1.25rem );
    }
}

@supports not (padding-left: clamp( 0.0000000625rem , -2.3844754154rem  +  3.8460057305vw , 1.25rem )) {
    .info-footer {
      padding-left: calc(0.0000000625rem + 1.2499999375 * (100vw - 61.99875rem) / 32.50125);
    }
}

@supports (padding-right: clamp( 0.0000000625rem , -1.7883565161rem  +  2.8845042498vw , 0.9375rem )) {
    .main__info {
      padding-right: clamp( 0.0000000625rem , -1.7883565161rem  +  2.8845042498vw , 0.9375rem );
    }
}

@supports not (padding-right: clamp( 0.0000000625rem , -1.7883565161rem  +  2.8845042498vw , 0.9375rem )) {
    .main__info {
      padding-right: calc(0.0000000625rem + 0.9374999375 * (100vw - 61.99875rem) / 32.50125);
    }
}

@supports (padding-left: clamp( 0.0000000625rem , -1.7883565161rem  +  2.8845042498vw , 0.9375rem )) {
    .main__info {
      padding-left: clamp( 0.0000000625rem , -1.7883565161rem  +  2.8845042498vw , 0.9375rem );
    }
}

@supports not (padding-left: clamp( 0.0000000625rem , -1.7883565161rem  +  2.8845042498vw , 0.9375rem )) {
    .main__info {
      padding-left: calc(0.0000000625rem + 0.9374999375 * (100vw - 61.99875rem) / 32.50125);
    }
}
}

@media (min-width: 47.99875em) and (max-width: 94.5em) {
@supports (padding-top: clamp( 1.25rem , -5.0077333271rem  +  13.037283944vw , 7.3125rem )) {
    .footer__wrapper {
      padding-top: clamp( 1.25rem , -5.0077333271rem  +  13.037283944vw , 7.3125rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , -5.0077333271rem  +  13.037283944vw , 7.3125rem )) {
    .footer__wrapper {
      padding-top: calc(1.25rem + 6.0625 * (100vw - 47.99875rem) / 46.50125);
    }
}

@supports (padding-bottom: clamp( 1.25rem , -5.2012714712rem  +  13.4404989113vw , 7.5rem )) {
    .footer__wrapper {
      padding-bottom: clamp( 1.25rem , -5.2012714712rem  +  13.4404989113vw , 7.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , -5.2012714712rem  +  13.4404989113vw , 7.5rem )) {
    .footer__wrapper {
      padding-bottom: calc(1.25rem + 6.25 * (100vw - 47.99875rem) / 46.50125);
    }
}

@supports (padding-top: clamp( 0.625rem , -1.6329450149rem  +  4.704174619vw , 2.8125rem )) {
    .info-footer {
      padding-top: clamp( 0.625rem , -1.6329450149rem  +  4.704174619vw , 2.8125rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , -1.6329450149rem  +  4.704174619vw , 2.8125rem )) {
    .info-footer {
      padding-top: calc(0.625rem + 2.1875 * (100vw - 47.99875rem) / 46.50125);
    }
}

@supports (padding-bottom: clamp( 0.625rem , -0.9878178678rem  +  3.3601247278vw , 2.1875rem )) {
    .info-footer {
      padding-bottom: clamp( 0.625rem , -0.9878178678rem  +  3.3601247278vw , 2.1875rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , -0.9878178678rem  +  3.3601247278vw , 2.1875rem )) {
    .info-footer {
      padding-bottom: calc(0.625rem + 1.5625 * (100vw - 47.99875rem) / 46.50125);
    }
}
}

@media (min-width: 20em) and (max-width: 47.99875em) {
@supports ((-moz-column-gap: clamp( 0.625rem , 0.1785514978rem  +  2.2322425108vw , 1.25rem )) or (column-gap: clamp( 0.625rem , 0.1785514978rem  +  2.2322425108vw , 1.25rem ))) {
    .social-footer__items {
      -webkit-column-gap: clamp( 0.625rem , 0.1785514978rem  +  2.2322425108vw , 1.25rem );
         -moz-column-gap: clamp( 0.625rem , 0.1785514978rem  +  2.2322425108vw , 1.25rem );
              column-gap: clamp( 0.625rem , 0.1785514978rem  +  2.2322425108vw , 1.25rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , 0.1785514978rem  +  2.2322425108vw , 1.25rem )) or (column-gap: clamp( 0.625rem , 0.1785514978rem  +  2.2322425108vw , 1.25rem ))) {
    .social-footer__items {
      -webkit-column-gap: calc(0.625rem + 0.625 * (100vw - 20rem) / 27.99875);
         -moz-column-gap: calc(0.625rem + 0.625 * (100vw - 20rem) / 27.99875);
              column-gap: calc(0.625rem + 0.625 * (100vw - 20rem) / 27.99875);
    }
}
}

@media (min-width: 47.99875em) and (max-width: 61.99875em) {
@supports (font-size: clamp( 0.875rem , 0.4464397321rem  +  0.8928571429vw , 1rem )) {
    .customers-footer__name {
      font-size: clamp( 0.875rem , 0.4464397321rem  +  0.8928571429vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.4464397321rem  +  0.8928571429vw , 1rem )) {
    .customers-footer__name {
      font-size: calc(0.875rem + 0.125 * (100vw - 47.99875rem) / 14);
    }
}
}

@media (min-width: 20em) and (max-width: 61.99875em) {
@supports (padding-right: clamp( 0.125rem , -0.3512046489rem  +  2.3810232447vw , 1.125rem )) {
    .info-footer__copyright span {
      padding-right: clamp( 0.125rem , -0.3512046489rem  +  2.3810232447vw , 1.125rem );
    }
}

@supports not (padding-right: clamp( 0.125rem , -0.3512046489rem  +  2.3810232447vw , 1.125rem )) {
    .info-footer__copyright span {
      padding-right: calc(0.125rem + 1 * (100vw - 20rem) / 41.99875);
    }
}

@supports (font-size: clamp( 2.8125rem , 0.2826628025rem  +  12.6491859877vw , 8.125rem )) {
    .main__title {
      font-size: clamp( 2.8125rem , 0.2826628025rem  +  12.6491859877vw , 8.125rem );
    }
}

@supports not (font-size: clamp( 2.8125rem , 0.2826628025rem  +  12.6491859877vw , 8.125rem )) {
    .main__title {
      font-size: calc(2.8125rem + 5.3125 * (100vw - 20rem) / 41.99875);
    }
}

@supports (font-size: clamp( 2.1875rem , 0.2529186136rem  +  9.6729069318vw , 6.25rem )) {
    .main__title span {
      font-size: clamp( 2.1875rem , 0.2529186136rem  +  9.6729069318vw , 6.25rem );
    }
}

@supports not (font-size: clamp( 2.1875rem , 0.2529186136rem  +  9.6729069318vw , 6.25rem )) {
    .main__title span {
      font-size: calc(2.1875rem + 4.0625 * (100vw - 20rem) / 41.99875);
    }
}

@supports (font-size: clamp( 1.125rem , 0.9166604661rem  +  1.0416976696vw , 1.5625rem )) {
    .main__sub-title {
      font-size: clamp( 1.125rem , 0.9166604661rem  +  1.0416976696vw , 1.5625rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.9166604661rem  +  1.0416976696vw , 1.5625rem )) {
    .main__sub-title {
      font-size: calc(1.125rem + 0.4375 * (100vw - 20rem) / 41.99875);
    }
}
}

@media (any-hover: hover) {
  .header__button:hover {
    background-color: rgba(255, 255, 255, 0);
  }

  .info-header__item:hover {
    color: #2E2E2E;
  }

  .info-header__item:hover::before {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }

  .social-footer__item:hover {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
            transform: scale(1.3);
    color: #65BDC2;
  }

  .contacts-footer__item:hover {
    color: #65BDC2;
  }

  .contacts-footer__item:hover::before {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }

  .info-footer__copyright:hover {
    color: #65BDC2;
  }

  .info-footer__autor:hover {
    color: #65BDC2;
  }

  .info-footer__autor:hover::before {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }

  .form-footer__button:hover {
    background-color: rgba(255, 255, 255, 0);
  }
}

.webp .footer__wrapper{ background: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 52, 58, 0.75)), to(rgba(47, 52, 58, 0.75))), url(../img/footer/main.webp) center/cover no-repeat, lightgray 50%/cover no-repeat; }

.webp .footer__wrapper{ background: linear-gradient(0deg, rgba(47, 52, 58, 0.75) 0%, rgba(47, 52, 58, 0.75) 100%), url(../img/footer/main.webp) center/cover no-repeat, lightgray 50%/cover no-repeat; }

.webp .info-footer{ background: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 52, 58, 0.75)), to(rgba(47, 52, 58, 0.75))), url(../img/footer/info.webp) center/cover no-repeat, lightgray 50%/cover no-repeat; }

.webp .info-footer{ background: linear-gradient(0deg, rgba(47, 52, 58, 0.75) 0%, rgba(47, 52, 58, 0.75) 100%), url(../img/footer/info.webp) center/cover no-repeat, lightgray 50%/cover no-repeat; }

.webp .main{ background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.1))), url(../img/main/background.webp) center/cover no-repeat; }

.webp .main{ background: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.1) 100%), url(../img/main/background.webp) center/cover no-repeat; }