@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,700&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-location:before {
  content: "\e900";
}

._icon-phone:before {
  content: "\e901";
}

._icon-email:before {
  content: "\e902";
}

._icon-email-second:before {
  content: "\e903";
}

._icon-search:before {
  content: "\e910";
}

._icon-user:before {
  content: "\e914";
}

._icon-fb:before {
  content: "\e904";
}

._icon-slider-arrow:before {
  content: "\e908";
}

._icon-tw:before {
  content: "\e905";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #3F3F3F;
  line-height: 1;
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter", sans-serif;
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #009999;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.header__logo {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__icon {
  max-width: 3.125rem;
  max-height: 3.125rem;
}

.logo__text {
  max-height: 3.75rem;
}

.menu__body {
  position: relative;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
  row-gap: 0.9375rem;
}

.menu__item {
  position: relative;
}

.menu__link {
  position: relative;
  display: block;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  font-weight: 500;
  line-height: 1.4285714286;
}

.menu__link.link-inactive {
  color: #3cb69c;
}

.menu__link::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  bottom: -40%;
  left: 50%;
  height: 0.125rem;
  background-color: #277c6b;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sub-menu__link {
  display: block;
  line-height: 1.4285714286;
}

.icon-menu {
  display: none;
}

.main {
  position: relative;
  padding-top: 5rem;
}

.main__container {
  position: absolute;
  z-index: 5;
  min-height: 100vh;
  bottom: 50%;
  left: 0;
  width: 100%;
  height: 100%;
}

.main__slide {
  width: 100vw;
  height: 100vh;
}

.main__image-ibg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.main__image-ibg::before {
  content: "";
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), color-stop(33%, rgba(255, 255, 255, 0)), color-stop(66%, rgba(255, 255, 255, 0)), to(#FFF));
  background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0) 33%, rgba(255, 255, 255, 0) 66%, #FFF 100%);
}

.main__swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
}

.main__swiper-pagination .swiper-pagination-bullet {
  cursor: pointer;
  width: 1.125rem;
  height: 1.125rem;
  border: 0.125rem solid #FFF;
  border-radius: 50%;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.main__swiper-pagination .swiper-pagination-bullet-active {
  background-color: #FFF;
}

.swiper {
  overflow: hidden;
}

.swiper-initialized {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 47.99875em) {
  .menu__list {
    background-color: rgba(255, 255, 255, 0.6862745098);
  }

  .sub-menu {
    position: absolute;
    top: 100%;
    left: -35%;
    padding-top: 1.25rem;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .sub-menu__list {
    background-color: #f2f2f2;
    min-width: 12.5rem;
    text-align: center;
    border: 0.0625rem solid #dfdcdc;
    overflow: hidden;
  }

  .sub-menu__item {
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
  }

  .sub-menu__link {
    padding: 0.625rem 1.25rem;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .sub-menu__link.link-inactive {
    color: #3cb69c;
  }
}

@media (min-width: 47.99875em) and (any-hover: hover) {
  .sub-menu__item:hover {
    background-color: #fff;
  }

  .sub-menu__link:hover {
    -webkit-transform: translate(0.625rem, 0);
        -ms-transform: translate(0.625rem, 0);
            transform: translate(0.625rem, 0);
  }
}

@media (min-width: 120em) {
  .menu__list {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }
}

@media (max-width: 61.99875em) {
  .menu__list {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    overflow: auto;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    padding: 6.25rem 0.9375rem 1.25rem 0.9375rem;
    background-color: rgba(255, 255, 255, 0.9568627451);
    -webkit-transition: right 0.3s ease 0s;
    transition: right 0.3s ease 0s;
  }

  .menu-open .menu__body {
    right: 0;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    z-index: 5;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    height: 3.75rem;
    background-color: #FFF1DA;
    background-color: #ffffff;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.875rem;
    font-size: 1.5rem;
    color: #000;
  }

  .menu__link:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .sub-menu__item:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .sub-menu__link {
    text-align: center;
    font-size: 1.25rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #3F3F3F;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (min-width: 61.99875em) and (max-width: 120em) {
@supports ((-moz-column-gap: clamp( 1.25rem , -0.0861511605rem  +  2.1551259671vw , 2.5rem )) or (column-gap: clamp( 1.25rem , -0.0861511605rem  +  2.1551259671vw , 2.5rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 1.25rem , -0.0861511605rem  +  2.1551259671vw , 2.5rem );
         -moz-column-gap: clamp( 1.25rem , -0.0861511605rem  +  2.1551259671vw , 2.5rem );
              column-gap: clamp( 1.25rem , -0.0861511605rem  +  2.1551259671vw , 2.5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , -0.0861511605rem  +  2.1551259671vw , 2.5rem )) or (column-gap: clamp( 1.25rem , -0.0861511605rem  +  2.1551259671vw , 2.5rem ))) {
    .menu__list {
      -webkit-column-gap: calc(1.25rem + 1.25 * (100vw - 61.99875rem) / 58.00125);
         -moz-column-gap: calc(1.25rem + 1.25 * (100vw - 61.99875rem) / 58.00125);
              column-gap: calc(1.25rem + 1.25 * (100vw - 61.99875rem) / 58.00125);
    }
}
}

@media (any-hover: hover) {
  .menu__item:hover .sub-menu {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
  }

  .menu__link:hover::after {
    left: -10%;
    opacity: 1;
    width: 120%;
    visibility: visible;
    pointer-events: all;
  }
}